<h1 class="m-3"><%= current_user.name %>'s Unassigned Bugs </h1>
<div class="m-3">
  <table class="table table-hover table-striped table-bordered">
      <thead >
        <tr class="table-dark">
          <%= render "bugs/headings"%>
        </tr>
      </thead>
    <% @bugs.each do |bug| %>
      <tbody>
        <tr>
          <%= render "bugs/columns", bug: bug %>
          <td><%= link_to "Show ", bug_path(bug.id), class:"btn btn-warning" %></td>
          <td><%= link_to "Assign", new_developer_bug_url(:id => bug.id), class:"btn btn-success"%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
     <%= link_to "Back To Home", view_projects_path(current_user.id), class:"btn btn-primary" %>
</div>


