
<div class="m-3">
<table class="table table-hover table-striped table-bordered">
  <thead >
    <tr class="table-dark">
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">User Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <% if (user.manager?) %>
  <% else %>
    <tbody>
    <tr>
      <th scope="row"><%= user.id%></th>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.user_type.capitalize %></td>
      <td><%= link_to "Show ", user_path(user), class:"btn btn-primary" %></td>


      <td><%= link_to "Show Assigned Projects", user_user_projects_path(user.id), class:"btn btn-warning" %></td>
      <td><%= link_to "Show Unassigned Projects", user_project_path(user.id), class:"btn btn-success" %></td>



    </tr>
  </tbody>
  <% end %>

  <% end %>
  </table>

  <%= link_to "Back To Home", authenticated_root_path, class:'btn btn-primary' %>

</div>
