<div class="jumbotron-index m-5 mt-0">
  <div class="jumbotron ">
    <h4>UserID: <%= @user.id %> </h4>
    <h4>Username: <%= @user.name %> </h4>
    <h4>Email: <%= @user.email%> </h4>
    <h4>Type: <%= @user.user_type.capitalize %> </h4>
    <br>
    <h4>Assigned Projects: </h4>
    <% @userprojects.each do |userproject| %>
        <i>ProjectID: <%= userproject.id %> , Project Name: <%= userproject.name %></i>
        <br>
    <% end %>
    <br>
    <br>
  </div>
</div>
  <br>
  <br>
  <%= link_to "Back To Home", authenticated_root_path, class:"btn btn-primary btn-lg" %>

