<h1 class='m-3'>Assigned Projects</h1>
<div class="m-3">
<table class="table table-hover table-striped table-bordered">
  <thead >
    <tr class="table-dark">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
    <tbody>
    <tr>
      <th scope="row"><%= project.id%></th>
      <td><%= project.name %></td>
      <td><%= project.created_at %></td>
      <td><%= project.updated_at %></td>
      <td><%= link_to "Show ", project, class:"btn btn-primary" %></td>
      <td><%= link_to "Remove Project ", projects_remove_url(@user.id, project.id), class:"btn btn-danger" %></td>


    </tr>
  </tbody>

  <% end %>
  </table>
  <%= link_to "Show Unassigned Projects", user_projects_unassigned_show_path(@user.id), class:"btn btn-warning" %>
  <br/>
  <br/>
  <%= link_to "Back To Users", users_path, class:"btn btn-primary" %>
  </div>
