<div class="m-3">
<table class="table table-hover table-striped table-bordered">
  <thead >
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
    <%# <%= render friend %>
    <tbody>
    <tr>
      <th scope="row"><%= project.id%></th>
      <td><%= project.name %></td>
      <td><%= project.created_at %></td>
      <td><%= project.updated_at %></td>
      <td><%= link_to "Show ", project, class:"btn btn-warning" %></td>

      <td><%= link_to "Edit ", edit_project_url(project.id), class:"btn btn-primary" %></td>
      <td><%= button_to "Destroy ", project, method: :delete, class:"btn btn-danger" %></td>


    </tr>
  </tbody>

  <% end %>
  </table>
  </div>
