<h1><%= panel_heading(current_user) %> </h1>
<div class="container" >
  <div class="row">
    <div class='col-lg-3'>
      <%= render "home/userpfp" %>
    </div>
    <div class='col-lg-9'>
      <h1 class='m-3'>Assigned Projects </h1>
      <div class="m-3">
        <table class="table table-hover table-striped table-bordered">
          <thead >
            <tr class="table-dark">
              <%= render "headings" %>
            </tr>
          </thead>
          <% @projects.each do |project| %>
            <tbody>
              <tr>
                <th scope="row"><%= project.project_id %></th>
                <td><%= project.name %></td>
                <td><%= project.manager_id %></td>
                <td><%= project.created_at %></td>
                <td><%= project.updated_at %></td>
              <% if current_user.developer? %>
                <td><%= link_to "Assign Bugs", project_bugs_path(project.project_id, :status => "unassigned"), class:"btn btn-success" %></td>
                <td><%= link_to "Remove Bugs", project_bugs_path(project.project_id, :status => "assigned"), class:"btn btn-danger" %></td>
              <% elsif current_user.qa? %>
                <td><%= link_to "Create A Bug", new_project_bug_url(project.project_id), class:"btn btn-warning" %></td>
              <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>
        <p class="lead">
            <%= render "layouts/dev_qa_buttons" %>
            <% if current_user.qa? %>
              <%= link_to "All Projects", projects_url, class:"btn btn-primary" %>
            <% end %>
        </p>

      </div>
    </div>
  </div>
</div>

