Index
<%= @projects %>

<div id="friends">
<table class="table table-hover table-striped table-bordered">
  <thead >
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">User ID</th>>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
    <%# <%= render friend %>
    <tbody>
    <tr>
      <th scope="row"><%= project.id%></th>
      <td><%= project.created_at %></td>
      <td><%= project.updated_at %></td>

    </tr>
  </tbody>

  <% end %>
  </table>
</div>

