<h1 class='m-3'><%= current_user.name %>'s Bugs</h1>
<%= render "layouts/search" %>
<div class="m-3">
  <table class="table table-hover table-striped table-bordered">
    <thead >
      <tr class="table-dark">
        <%= render "bugs/headings"%>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @bugs.each do |bug| %>
      <tbody>
        <tr>
          <%= render "bugs/columns", bug: bug %>
            <td><%= link_to "Show ", bug_path(bug.id), class:"btn btn-warning" %></td>
            <% if (current_user.qa?) %>
              <td><%= link_to "Edit ", edit_bug_url(bug.id), class:"btn btn-primary" %></td>
              <td><%= button_to "Destroy this Bug", bug_path(bug), class:"btn btn-danger btn-md", method: :delete %> </td>
            <% else %>
              <td><%= link_to "Edit Status", edit_bug_path(bug), class:"btn btn-secondary" %></td>
            <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= link_to "Back To Home", authenticated_root_path, class:'btn btn-primary'%>
</div>


