<div class="jumbotron-index m-5 mt-0">
  <div class="jumbotron ">
    <h4>Title: <%= @bug.title %> </h4>
    <h4>Status: <%= piece_status(@bug)%> </h4>
    <h4>Description:
      <%= description_field(@bug)  %>
    </h4>
    <h4>Deadline:
      <%= deadline_field(@bug) %></h4>
    <h4>Screenshot:</h4>
      <%= screenshot_view(@bug) %>
    <h4>Type: <%= @bug.piece_type%> </h4>
    <h4>Price: <%= @bug.bug_price%> $ </h4>
    <h4>Project ID: <%= @bug.project_id%> </h4>
    <h4>Assigned Developer IDs: <%= @bug.developer_ids%> </h4>
    <br>
    <p class="lead">
      <%= render "layouts/dev_qa_buttons" %>
    </p>
  </div>
</div>
  <br>
  <%= link_to "Back To Home", authenticated_root_path, class:"btn btn-primary btn-lg" %>
  <br>
  <br>
  <button class="btn btn-dark mt-5" onclick="history.back()">Go Back</button>

