<%= form_with(model: @bug, local: true, :validate => true ) do |form| %>
  <% if (current_user.developer? ) %>
    <div class="field">
      <%= form.label :piece_status %><br />
      <%= form.select :piece_status, CodePiece.piece_statuses.keys.to_a %>
    </div>
  <% else %>
    <div class="form-group mb-2">
      <%= form.label :title, style: "display: block"  %>
      <%= form.text_field :title, class:"form-control w-50"%>
    </div>
    <div class="form-group mb-2">
      <%= form.label :description, style: "display: block"%>
      <%= form.text_field :description, class:"form-control w-50" %>
    </div>
    <div class="form-group mb-2">
      <%= form.label :screenshot, style: "display: block" %>
      <%= screenshot_field(@bug) %><br/>
      <%= form.file_field :screenshot, style: "display: block" %><br/>

    </div>
    <div class="form-group mb-2">
      <%= form.label :deadline, style: "display: block" %>
      <%= form.date_field :deadline, class:"form-control" %>
    </div>
    <div class="form-group mb-2">
      <% form.label :project_id, style: "display: block"%>
      <%= form.text_field :project_id, class:"form-control", value: @bug.project_id, type: :hidden %>
    </div>
     <div class="form-group mb-2">
        <%= form.radio_button :piece_type, 'Bug', checked: true %> Bug<br />
        <%= form.radio_button :piece_type, 'Feature' %> Feature<br />
    </div>
    <div class="field">
      <%= form.label :piece_status %><br />
      <%= form.select :piece_status, CodePiece.piece_statuses.keys.to_a %>
    </div>
  <% end %>
  <div>
  <br>
    <%= form.submit class:"btn btn-success"%>
  </div>
<% end %>
