<%= form_with(model: @bug, local: true ) do |form| %>
  <%= render 'layouts/error', obj: @bug%>
  <% if (current_user.developer? ) %>
    <div class="field">
      <%= form.label :piece_status %><br />
      <% if @bug.type == "Feature"%>
      <%= form.select :piece_status, Feature.piece_statuses.keys.to_a %>
      <% else %>
      <%= form.select :piece_status, Bug.piece_statuses.keys.to_a %>
      <% end %>
    </div>
  <% else %>
    <div class="form-group mb-2">
      <%= form.label :title, style: "display: block"  %>
      <%= form.text_field :title, class:"form-control w-50"%>
    </div>
    <div class="form-group mb-2">
      <%= form.label :description, style: "display: block"%>
      <%= form.text_field :description, class:"form-control w-50" %>
    </div>
    <div class="form-group mb-2">
      <%= form.label :screenshot, style: "display: block" %>
      <%= screenshot_view(@bug) %><br/>
      <%= form.file_field :screenshot, class:"" %>
    </div>
    <div class="form-group mb-2">
      <%= form.label :deadline, style: "display: block" %>
      <%= form.date_field :deadline, class:"form-control" %>
    </div>
    <div class="field">
    <%= form.label :piece_status %><br />
    <% if @bug.type == "Feature"%>
    <%= form.select :piece_status, Feature.piece_statuses.keys.to_a %>
    <% else %>
      <%= form.select :piece_status, Bug.piece_statuses.keys.to_a %>
    <% end %>
    </div>
  <% end %>
  <div>
  <br>
    <%= form.submit class:"btn btn-success"%>
  </div>
<% end %>
