<h1 class="m-3">Assigned Bugs </h1>
<div class="m-3">
<table class="table table-hover table-striped table-bordered">
  <thead >
    <tr class="table-dark">
      <th scope="col">BUG ID</th>
      <th scope="col">Title</th>
      <th scope="col">Project ID</th>
      <th scope="col">Status</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @bugs.each do |bug| %>
  <tbody>
    <tr>
      <th scope="row"><%= bug.id%></th>
      <td><%= bug.title %></td>
      <td><%= bug.project_id %></td>
      <td><%= bug.piece_status %></td>
      <td><%= bug.created_at %></td>
      <td><%= bug.updated_at %></td>
      <%# <td><%= link_to "Show ", project, class:"btn btn-warning" %></td> %>




    </tr>
  </tbody>

  <% end %>
  </table>
     <%= link_to "Back To Projects", dev_projects_path(current_user.id), class:"btn btn-success" %>

</div>


